.env
.env.*
!.env.example

node_modules/
.next/
out/
dist/
build/

__pycache__/
*.py[cod]
.venv/
venv/

*.db
*.sqlite
*.sqlite3
/prisma/*.db

public/covers/
storage/covers/
data/covers/

.DS_Store
Thumbs.db
.vscode/
.idea/

npm-debug.log*
yarn-error.log*
*.log
.vercel
coverage/
